'comment': 'Latino Syntax: version 0.1'
'fileTypes': [
  'lat'
]
'scopeName' : 'source.latino'
'name': 'latino'
'patterns': [
  {
    'include': '#comment'
  }
  {
    'match': '\\b(si|fin|sino|elegir|caso|defecto|hacer|desde|hasta|mientras|cuando|continuar|romper|funcion|retorno|clase|propiedad|constructor|principal)\\b'
    'name': 'keyword.control.latino'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(falso|nulo|cierto|verdadero)\\b|(?<![.])\\.{3}(?!\\.)'
    'name': 'constant.language.latino'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(esta)\\b'
    'name': 'variable.language.self.latino'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(imprimir|ejecutar|ejecutar_archivo|arco_coseno|arco_seno|arco_tangente|arco_tangente2|coseno|coseno_hiperbolico|seno|seno_hiperbolico|tangente|tangente_hiperbolica|exponente|logaritmo_natural|logaritmo_base10|potencia|raiz_cuadrada|redondear_arriba|valor_absoluto|redondear_abajo|modulo|comparar|concatenar|contiene|copiar|termina_con|es_igual|indice|insertar|ultimo_indice|rellenar_izquierda|rellenar_derecha|eliminar|esta_vacia|longitud|reemplazar|empieza_con|subcadena|minusculas|mayusculas|quitar_espacios|leer|escribir|leer_archivo|escribir_archivo|tipo|logico|entero|decimal|cadena|salir|maximo|minimo)\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.latino'
  }
  {
    'match': '\\b([A-Za-z_]\\w*)\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.any-method.latino'
  }
  {
    'match': '(?<=[^.]\\.|:)\\b([A-Za-z_]\\w*)'
    'name': 'variable.other.latino'
  }
  {
    'match': '\\+|-|%|#|\\*|\\/|\\^|==?|~=|<=?|>=?|(?<!\\.)\\.{2}(?!\\.)'
    'name': 'keyword.operator.latino'
  }
  {
    'match': '(?<![\\d.])\\s0x[a-fA-F\\d]+|\\b\\d+(\\.\\d+)?([eE]-?\\d+)?|\\.\\d+([eE]-?\\d+)?'
    'name': 'constant.numeric.latino'
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.latino'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.latino'
    'name': 'string.quoted.double.latino'
    'patterns': [
      {
        'include': 'punctuation.definition.string.begin.latino'
      }
      {
        'include': 'punctuation.definition.string.end.latino'
      }
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.latino'
      }
    ]
  }
  {
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.latino'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.latino'
    'name': 'string.quoted.double.latino'
    'patterns': [
      {
        'include': 'punctuation.definition.string.begin.latino'
      }
      {
        'include': 'punctuation.definition.string.end.latino'
      }
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.latino'
      }
    ]
  }
]
'repository':
  'comment':
    'captures':
      '1':
        'name': 'comment.line.number-sign.latino'
      '2':
        'name': 'punctuation.definition.comment.latino'
      '3':
        'name': 'comment.line.semi-colon.latino'
      '4':
        'name': 'punctuation.definition.comment.latino'
    'match': '((#).*$\\n?)'
